table {
  width: 100%;
  overflow-y: scroll;
}

table .size {
  min-width: 100px;
}
.stats-head-cell, .stats-data-cell {
  padding: 10px;
}

.stats-table tr:last-child td{
  font-weight: bold;
  color: #7623c9;
}
