.game {
}
@import "src/styles/variables";

$dims: 3, 4, 5, 6, 7, 8, 9, 10;

@each $dim in $dims {
  .game-container-#{$dim} {
    width: ($dim*$tile-size);
  }
}
.game-container {
  margin: 10px auto;
}

.dimension-selector {
  width: 80px;
  margin: 0 10px;
}

.dimension-radio {
  margin-right: 15px;
}

.toolbar {
  margin: 10px;
}

.nav-item {
  margin: 5px;
}

.moves {
  font-size: 16px;
}

.solved-message {
  min-width: 250px;
  margin: 10px auto;
  color: #116d11
}

.divider {
  width: 10px;
  height: 50%;
  border-right: 1px solid #999;
  margin: 0 10px;
}

::ng-deep .mat-form-field-appearance-standard .mat-form-field-underline,
::ng-deep .mat-form-field-appearance-standard .mat-form-field-underline:hover{
  height: 0 !important;
}

::ng-deep .dimension-selector .mat-form-field-wrapper {
  padding: 0;
}

::ng-deep .dimension-selector.mat-form-field-appearance-standard  .mat-form-field-flex,
::ng-deep .dimension-selector.mat-form-field-appearance-standard  .mat-form-field-infix{
  padding-top: 0 !important;
}
