<div class="game">
    <div class="navbar navbar-light bg-light navbar-expand-sm">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button mat-flat-button color="primary"
                                (click)="newGame()"
                                matTooltip="Start a new game">
                            New Game
                        </button>
                    </li>
                    <li class="nav-item">
                        <button mat-flat-button
                                (click)="reset()"
                                matTooltip="Reset Current game">
                            Reset
                        </button>
                    </li>
                    <li class="nav-item">
                        <mat-form-field class="dimension-selector">
                            <mat-select
                                    [(ngModel)]="dimension"
                                    (selectionChange)="newGame()" name="dimension">
                                <mat-option
                                        class="dimension-radio"
                                        *ngFor="let dim of dimensions"
                                        [value]="dim">
                                    {{dim}} x {{dim}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                </ul>
            </div>

            <div class="nav-item">
                <button mat-icon-button
                        matTooltip="Undo last move."
                        (click)="undo()"
                        [disabled]="game.moveHistory.length <=0">
                    <mat-icon>undo</mat-icon>
                </button>
                <button mat-icon-button
                        matTooltip="Redo last move."
                        (click)="redo()"
                        [disabled]="redoStack.length <=0">
                    <mat-icon>redo</mat-icon>
                </button>
            </div>

            <div class="nav-item">
                <div class="navbar-text moves toolbar-item"> Moves: {{game.totalMoves}} </div>
            </div>

        </div>
    </div>

    <div class="game-container game-container-{{dimension}}">
        <div class="solved-message" *ngIf="game.solved">
            Solved in {{game.totalMoves}} moves. Good Job!
            <br> Start a
            <button mat-button (click)="newGame()"> New Game</button>
        </div>
        <app-tile-container
                [dimension]=dimension
                [numbers]="game.currentMove"
                [disable]="game.solved"
                (onMove)="handleMove($event)">
        </app-tile-container>
    </div>
    <div class="hidden">
        <div><h3>Moves</h3></div>
        <div *ngFor="let move of game.moveHistory; let i = index">
            {{i + 1}}: {{move}}
        </div>
    </div>
</div>

