<div class="game">
    <mat-toolbar class="toolbar">
        <button class="toolbar-item"
                mat-icon-button color="primary"
                (click)="newGame()"
                matTooltip="Start a new game">
            <mat-icon>add</mat-icon>
        </button>

        <button class="toolbar-item"
                mat-icon-button
                (click)="reset()"
                matTooltip="Reset Current game">
            <mat-icon>refresh</mat-icon>
        </button>
        <div class="divider"></div>
        <mat-form-field class="toolbar-item dimension-selector" appearance="standard">
            <mat-select
                    [(ngModel)]="dimension"
                    (selectionChange)="newGame()" name="dimension">
                <mat-option
                        class="dimension-radio"
                        *ngFor="let dim of dimensions"
                        [value]="dim">
                    {{dim}} x {{dim}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="divider"></div>

        <div class="moves toolbar-item"> Moves: {{this.game.moves.length}} </div>

    </mat-toolbar>
    <div class="solved-message" *ngIf="game.solved">Solved! Good Job!</div>

    <div class="game-container">
        <app-tile-container
                [dimension]=dimension
                [numbers]="this.game.numbers"
                (onMove)="handleMove($event)">
        </app-tile-container>
    </div>
</div>

