<div class="game">
    <div class="dimension-selector">
        <div *ngFor="let dim of dimensions" class="dimension-radio">
            <input type="radio" [value]=dim id="dim-{{dim}}"
                   [(ngModel)]="dimension" (change)="newGame()">
            <label for="dim-{{dim}}">{{dim}} x {{dim}}</label>
        </div>

    </div>
    <div class="game-container">
        <app-tile-container
                [dimension]=dimension
                [numbers]="this.game.numbers"
                (onMove)="handleMove($event)">
        </app-tile-container>

        <div class="message-container">
            <div class="toolbar">
                <button (click)="newGame()">New Game</button>
                <button (click)="reset()">Reset</button>
            </div>
            <div class="moves"> Moves: {{this.game.moves.length}} </div>
            <div class="win-message" *ngIf="this.game.won"> You Won!</div>
        </div>
    </div>

</div>

