<div class="game">
    <div class="game-container">
        <app-tile-container [numbers]="numbers" (onMove)="handleMove($event)"></app-tile-container>
        <div class="message-container">
            <div class="toolbar">
                <button (click)="newGame(null, this.dimension)">New Game</button>
                <button (click)="reset()">Reset</button>
            </div>
            <div class="moves"> Moves: {{moves}} </div>
            <div class="win-message" *ngIf="gameWon"> You Won!</div>
        </div>
    </div>

</div>

