//$background-primary: #FB6107;
//$background-secondary: #fbb02d;
//$primary: #5C8001;
//$secondary: #F3DE2C;
//$tertiary: #B8CA22;

// Orange-Pink theme
$background-primary: #A31000;
$background-secondary: #EF6351;
$background-tertiary: #FBC3BC;

$primary: #40100a;
$secondary: #FBC3BC;
$tertiary: #B8CA22;
$background-image: "assets/bg/bg-dark-red-1.png";
@import "material-orange-light";

 //Dark Green Theme
$background-primary: #171313;
$background-secondary: #231D1D;
$background-tertiary: #504e4e;
$primary: #B8CA22;
$secondary: #95c210;
$tertiary: #579703;
$background-image: "assets/bg/bg-dark-black-1.png";
@import "material-green-dark";
