//$background-primary: #FB6107;
//$background-secondary: #fbb02d;
//$primary: #5C8001;
//$secondary: #F3DE2C;
//$tertiary: #B8CA22;

// Orange-Pink theme
$background-primary: #EF6351;
$background-secondary: #FBC3BC;
$background-tertiary: #A31000;
$primary: #40100a;
$secondary: #FBC3BC;
$tertiary: #B8CA22;

// Dark Green Theme
//$background-primary: #171313;
//$background-secondary: #231D1D;
//$background-tertiary: #2B2823;
//$primary: #B8CA22;
//$secondary: #95c210;
//$tertiary: #579703;

