$tile-size: 50px;
$tile-font: 14px;
$tile-background: linear-gradient(90deg, rgba(233, 229, 229, 1) 0%, rgba(255, 249, 249, 1) 52%, rgba(233, 229, 229, 1) 100%);
$tile-box-shadow: 2px 2px 4px #999;
$tile-color: rgba(0, 0, 0, 1);
$container-width: 300px;
$puzzle-image: "/assets/teddy-2.jpeg";
