@import "src/styles/variables";

$dims: 3, 4, 5, 6, 7, 8, 9, 10;

@each $dim in $dims {
  .tile-container-#{$dim} {
    width: ($dim*$tile-size);
  }
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.play-icon {
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.play-icon * {
  font-size: 48px;
  color: white;
}
