@import "src/styles/variables";

$dims: 3, 4, 5, 6, 7, 8, 9, 10;

@each $dim in $dims {
  .tile-container-#{$dim} {
    width: ($dim*$tile-size);
  }
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  //width: 300px;
}

