<div class="table-responsive-md">
    <mat-card class="summary-card">
        <mat-card-title>Summary</mat-card-title>
        <mat-card-content>
            <table #summaryTable [dataSource]="dimArray" class=" stats-table mat-elevation-z3" mat-table>
                <!-- Position Column -->
                <ng-container matColumnDef="size">
                    <th *matHeaderCellDef class="stats-head-cell" mat-header-cell>Size</th>
                    <td *matCellDef="let element" class="stats-data-cell" mat-cell>
                        <ng-template [ngIf]="element.dim === -1">
                            Overall
                        </ng-template>
                        <ng-template [ngIf]="element.dim !== -1">
                            {{element.dim}} x {{element.dim}}
                        </ng-template>
                    </td>
                </ng-container>
                <ng-container matColumnDef="totalPuzzles">
                    <th *matHeaderCellDef class="stats-head-cell" mat-header-cell>Puzzles</th>
                    <td *matCellDef="let element" class="stats-data-cell" mat-cell>
                        <button (click)="filter(element.dim, 'total')"
                                *ngIf="element.dim !== -1"
                                mat-button>
                            {{element.stats.totalPuzzles}}
                        </button>
                        <button (click)="filter('all', 'total')"
                                *ngIf="element.dim === -1"
                                mat-button>
                            {{element.stats.totalPuzzles}}
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="totalSolved">
                    <th *matHeaderCellDef class="stats-head-cell" mat-header-cell>Solved</th>
                    <td *matCellDef="let element" class="stats-data-cell" mat-cell>
                        <button (click)="filter(element.dim, 'solved')"
                                *ngIf="element.dim !== -1"
                                mat-button>
                            {{element.stats.totalSolved}}
                        </button>
                        <button (click)="filter('all', 'solved')"
                                *ngIf="element.dim === -1"
                                mat-button>
                            {{element.stats.totalSolved}}
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="totalUnsolved">
                    <th *matHeaderCellDef class="stats-head-cell" mat-header-cell>Unsolved</th>
                    <td *matCellDef="let element" class="stats-data-cell" mat-cell>
                        <button (click)="filter(element.dim, 'unsolved')"
                                *ngIf="element.dim !== -1"
                                mat-button>
                            {{element.stats.totalUnsolved}}
                        </button>
                        <button (click)="filter('all', 'unsolved')"
                                *ngIf="element.dim === -1"
                                mat-button>
                            {{element.stats.totalUnsolved}}
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="bestTime">
                    <th *matHeaderCellDef class="stats-head-cell" mat-header-cell>Best Time</th>
                    <td *matCellDef="let element" class="stats-data-cell" mat-cell>
                        <ng-template [ngIf]="element.stats.bestTime">
                            <a [queryParams]="{'n': element.stats.bestTime.id}" [routerLink]="['/puzzle', element.stats.bestTime.type]" mat-button>
                                {{element.stats.bestTime.solveTime}}
                            </a>
                        </ng-template>
                        <ng-template [ngIf]="!element.stats.bestTime"></ng-template>
                    </td>
                </ng-container>
                <ng-container matColumnDef="averageTime">
                    <th *matHeaderCellDef class="stats-head-cell" mat-header-cell>Average Time</th>
                    <td *matCellDef="let element" class="stats-data-cell" mat-cell> {{element.stats.averageTime}}</td>
                </ng-container>
                <ng-container matColumnDef="bestMoves">
                    <th *matHeaderCellDef class="stats-head-cell" mat-header-cell>Best Moves</th>
                    <td *matCellDef="let element" class="stats-data-cell" mat-cell>
                        <ng-template [ngIf]="element.stats.bestMove">
                            <a [queryParams]="{'n': element.stats.bestMove.id}" [routerLink]="['/puzzle', element.stats.bestMove.type]" mat-button>
                                {{element.stats.bestMove.totalMoves}}
                            </a>
                        </ng-template>
                        <ng-template [ngIf]="!element.stats.bestMove"></ng-template>
                    </td>
                </ng-container>
                <ng-container matColumnDef="averageMoves">
                    <th *matHeaderCellDef class="stats-head-cell" mat-header-cell>Average Time</th>
                    <td *matCellDef="let element" class="stats-data-cell" mat-cell> {{element.stats.averageMoves}}</td>
                </ng-container>
                <tr *matHeaderRowDef="summaryColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: summaryColumns;" mat-row></tr>
            </table>
        </mat-card-content>
    </mat-card>
    <mat-card class="details-card">
        <mat-card-title>Puzzles</mat-card-title>
        <mat-card-content>
            <table [dataSource]="puzzleDatasource" mat-table matSort>
                <ng-container matColumnDef="size">
                    <th *matHeaderCellDef class="stats-head-cell" mat-header-cell mat-sort-header> Size</th>
                    <td *matCellDef="let puzzle" class="stats-data-cell" mat-cell> {{puzzle.dimension}}</td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th *matHeaderCellDef class="stats-head-cell" mat-header-cell mat-sort-header> Type</th>
                    <td *matCellDef="let puzzle" class="stats-data-cell" mat-cell> {{puzzle.type}}</td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th *matHeaderCellDef class="stats-head-cell" mat-header-cell mat-sort-header> Puzzle</th>
                    <td *matCellDef="let puzzle" class="stats-data-cell" mat-cell>
                        <a [queryParams]="{'n': puzzle.id}" [routerLink]="['/puzzle', puzzle.type]" color="primary" mat-button>
                            View
                        </a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="createdAt">
                    <th *matHeaderCellDef class="stats-head-cell" mat-header-cell mat-sort-header> Started At</th>
                    <td *matCellDef="let puzzle" class="stats-data-cell" mat-cell>
                        {{dt.fromISO(puzzle.createdAt.toISOString()).toRelative()}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="solved">
                    <th *matHeaderCellDef class="stats-head-cell" mat-header-cell mat-sort-header> Solved</th>
                    <td *matCellDef="let puzzle" class="stats-data-cell" mat-cell>
                        {{puzzle.solved ? 'Yes' : 'No'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="totalMoves">
                    <th *matHeaderCellDef class="stats-head-cell" mat-header-cell mat-sort-header> Moves</th>
                    <td *matCellDef="let puzzle" class="stats-data-cell" mat-cell> {{puzzle.totalMoves || '-'}}</td>
                </ng-container>
                <ng-container matColumnDef="time">
                    <th *matHeaderCellDef class="stats-head-cell" mat-header-cell mat-sort-header> Time</th>
                    <td *matCellDef="let puzzle" class="stats-data-cell" mat-cell> {{puzzle.solveTime || '-'}}</td>
                </ng-container>
                <ng-container matColumnDef="solvedAt">
                    <th *matHeaderCellDef class="stats-head-cell" mat-header-cell mat-sort-header> Solved At</th>
                    <td *matCellDef="let puzzle" class="stats-data-cell" mat-cell>
                        <ng-template [ngIf]="puzzle.solvedAt">
                            {{dt.fromISO(puzzle.solvedAt.toISOString()).toRelative()}}
                        </ng-template>
                        <ng-template [ngIf]="!puzzle.solvedAt">
                            -
                        </ng-template>

                    </td>
                </ng-container>
                <tr *matHeaderRowDef="puzzleColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: puzzleColumns;" mat-row></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="10" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>
