<div class="tile-container tile-container-{{puzzle.dimension}}" *ngIf="puzzle">
    <div *ngFor="let number of puzzle.currentMove">
        <app-tile (tileClick)="onTileClick($event)"
                  [blank]="number===BLANK_TILE"
                  [dimension]="puzzle.dimension"
                  [disable]="puzzle.paused"
                  [number]=number
                  [paused]="puzzle.paused"
                  [type]="puzzle.type">
        </app-tile>
    </div>
    <div *ngIf="puzzle.paused" class="overlay">
        <button (click)="onPauseClicked()" class="play-icon" mat-icon-button>
            <mat-icon>play_circle_outline</mat-icon>
        </button>
    </div>
</div>

