@import "src/styles/variables";

.blank-tile {
  display: flex;
  width: $tile-size;
  height: $tile-size;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
