<ng-template [ngIf]="blank">
    <div (click)="onClick()" [class.disabled]="disable"
         class="tile tile-{{dimension}} bk-{{dimension}}-{{number}}">
    </div>
</ng-template>
<ng-template [ngIf]="type === 'numeric' && !blank">
    <div (click)="onClick()" [class.disabled]="disable"
         class="numeric tile tile-{{dimension}} bk-{{dimension}}-{{number}}">
        <div class="number">
            {{paused ? "?" : number}}
        </div>
    </div>
</ng-template>
<ng-template [ngIf]="type === 'picture' && !blank">
    <div (click)="onClick()" [class.disabled]="disable"
         class="picture tile tile-{{dimension}} bk-{{dimension}}-{{number}} picture-{{pictureId}}">
    </div>
</ng-template>
