.game {
}
@import "src/styles/variables";

$dims: 3, 4, 5, 6, 7, 8, 9, 10;

//@each $dim in $dims {
//  .game-container-#{$dim} {
//    width: ($dim*$tile-size);
//  }
//}
.game-container {
  margin: 10px auto;
  width: $container-width;
}

.dimension-selector {
  width: 80px;
  margin: 0 10px;
}

.dimension-radio {
  margin-right: 15px;
}

.toolbar {
  margin: 10px;
}

.nav-item {
  margin: 5px;
}

.moves {
  font-size: 16px;
}

.solved-message {
  min-width: 250px;
  margin: 10px auto;
  color: #116d11
}

.solved-message button {
  margin-left: -10px;
}

.timer {
  display: inline-block;
  padding: 5px 10px;
  border: 1px #ccc solid;
  border-radius: 5px;
}

.puzzle-tile-container {
  position: relative;
}

.result, .result-hint {
  position: absolute;
  top: 0;
  bottom: 0;
  width: $container-width;
  height: $container-width;
  z-index: 100;
  background: url($puzzle-image) no-repeat;
  background-size: $container-width $container-width;
  filter: alpha(Opacity=30);
}

::ng-deep .dimension-selector .mat-form-field-underline,
::ng-deep .dimension-selector .mat-form-field-underline:hover{
  display: none !important;
}

::ng-deep .dimension-selector .mat-form-field-wrapper {
  padding: 0;
}

::ng-deep .dimension-selector .mat-form-field-flex,
::ng-deep .dimension-selector .mat-form-field-infix{
  padding-top: 0 !important;
}
